@model ProjectA.Models.Appointments;
@{
    ViewData["Title"] = "Fix Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    @using (Html.BeginForm("Addapp", "Home", FormMethod.Post))
    {
    <table>
        <tr>
            <td>
                <lable>patientid : </lable>
            </td>
            <td>
                @Html.TextBoxFor(m => m.PatientId)
            </td>
        </tr>
        <tr>
            <td>
                <lable>specialization : </lable>
            </td>
            <td>
                @Html.RadioButtonFor(m => m.Specialization, "general")general<hr />
                @Html.RadioButtonFor(m => m.Specialization, "internal_medicine")internal medicine<hr />
                @Html.RadioButtonFor(m => m.Specialization, "pediatric")pediatric<hr />
                @Html.RadioButtonFor(m => m.Specialization, "orthopedic")orthopedic<hr />
                @Html.RadioButtonFor(m => m.Specialization, "opthamology")opthamology
            </td>
        </tr>
        <tr>
            <td>
                <label>doctor : </label>
            </td>
            <td>
                @Html.TextBoxFor(m => m.Doctor)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m=>m.VisitDate)
            </td>
            <td>
                @Html.TextBoxFor(m=>m.VisitDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m=>m.AppointmentTime)
            </td>
            <td>
                @Html.TextBoxFor(m => m.AppointmentTime)
            </td>
        </tr>
    </table>
        <input type="submit" value="ADD" />
    }
</body>
