@model ProjectA.Models.Doctor;
@{
    ViewData["Title"] = "New Doctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    @using (Html.BeginForm("Adddoc", "Home", FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    <lable>firstname : </lable>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.FirstName)
                </td>
            </tr>
            <tr>
                <td>
                    <label>lastname : </label>
                </td>
                <td>
                    @Html.TextBoxFor(m=>m.LastName)
                </td>
            </tr>
            <tr rowspan="3">
                <td>
                    <lable>sex : </lable>
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.Sex, "M")male<hr/>
                    @Html.RadioButtonFor(m => m.Sex, "F")female<hr />
                    @Html.RadioButtonFor(m=>m.Sex, "O")others
                </td>
            </tr>
            <tr>
                <td>
                    <lable>specialization : </lable>
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.Specialization, "general")general<hr />
                    @Html.RadioButtonFor(m => m.Specialization, "internal_medicine")internal medicine<hr />
                    @Html.RadioButtonFor(m => m.Specialization, "pediatric")pediatric<hr />
                    @Html.RadioButtonFor(m => m.Specialization, "orthopedic")orthopedic<hr />
                    @Html.RadioButtonFor(m => m.Specialization, "opthamology")opthamology
                </td>
            </tr>
            <tr>
                <td>
                    <label>visiting hours</label>
                </td>
                <td>
                    <lable>a. from(hh:mm) : </lable><br /><hr />
                    <lable>b. to(hh:mm) : </lable>
                </td>
                <td>
                    @Html.TextBoxFor(m=>m.VisitFrom)<br /><hr />
                    @Html.TextBoxFor(m=>m.VisitTo)
                </td>
            </tr>
        </table>
        <input type="submit" value="ADD" />
    }
</body>
