@model IEnumerable<ProjectA.Models.Appointments>
@{
    ViewData["Title"] = "MyADOWebApp";
}

<div>
    <table class="customertable">
        <thead>
            <tr>
                <td>
                    @Html.DisplayName("patient id")
                </td>
                <td>
                    @Html.DisplayName("Visit Date")
                </td>
                <td>
                    @using (Html.BeginForm("SearchCustomer", "Home", FormMethod.Post))
                    {
                        <p>
                             patient id :<input type="Text" name="CustomerID" />
                            <input type="submit" value="Search" />
                            <input type="submit" value="Search All" />
                        </p>
                    }
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => i.)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => i.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => i.EmailId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@i.CustomerId">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@i.CustomerId">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
