@model IEnumerable<ProjectA.Models.Appointments>
@{
    ViewData["Title"] = "Cancelconformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body> 
    <h3>
        Appointments
    </h3>
    <table cellspacing="10" cellpadding="20" style="border-radius:20px;background-color:antiquewhite">
        <thead>
            <tr>
                @*<td>
                    <label>appointmentid : </label>
                </td>*@
                <td>
                    Patient id
                </td>
                <td>
                    Specialization
                </td>
                <td>
                    Doctor
                </td>
                <td>
                    Visit date
                </td>
                <td>
                    Appointment time
                </td>
            </tr>
        </thead>
        <tbody>
            @using (Html.BeginForm("Deleting", "Home", FormMethod.Post))
            {
                @foreach (var i in Model)
                {
                    <tr>
                        @*<td>
                            @Html.DisplayFor(modelitem => i.AppointmentId)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelitem => i.PatientId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => i.Specialization)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => i.Doctor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => i.VisitDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => i.AppointmentTime)
                        </td>
                        <td style="background-color:orangered;color:black;font-family:'Comic Sans MS';">
                            <a asp-action="Deleting" asp-route-id="@i.AppointmentId">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
